*{
    margin:0 auto;
    padding:0px;
    font-family: 'Raleway', sans-serif;
}
body{
    position:relative;
    min-height: 80vh;
}
header{
    height: 100px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid rgba(0,0,0,0.2);
}
h1{

    color: #BA2154;
}
header a {
    margin:0px;
    margin-left:10%;
}

.reportes h3{
    color: #BA2154;
}
.reportes ul{
    margin:10%;
}
.reportes ul li{
    margin-bottom: 20px;
    list-style: none;
    cursor:pointer;
}
.logo{
    width:160px;
    height: auto;
    margin:0px;
    margin-right: 10%;
}
footer{
    border-top:1px solid rgba(0,0,0,0.2);
    height: 100px;
    width:100%;
    display: flex;
    align-items: center;
    position:absolute;
    bottom:-150px;
}
footer p{
    margin:0px;
    margin-left:10%;
}
footer a{
    margin:0px;
    margin-left:10px ;
    color: #BA2154;
}

table{
    border:solid 2px #BA2154;
    width:auto;
    height:auto;
    background-color:blanchedalmond ;
}
th{
    border-bottom:solid 2px #BA2154;
    font-weight: 500;
    font-size: 20px;
}
td{

    text-align:left;
    padding-left:5px;
    padding-bottom:2px;
    padding-top:2px;
    font-weight: 500;
    font-size: 18px;
}
#export{
    width:150px;
    height:40px;
    border-radius: 8px;
    color: wheat;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10%;
    background-color: #BA2154;
}
#stock{
    margin-top: 50px;
}
a{
    text-decoration: none;
   
}